<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @signup.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @signup.password %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @signup.userid %>
</p>

<p>
  <strong>Address:</strong>
  <%= @signup.address %>
</p>

<%= link_to 'Edit', edit_signup_path(@signup) %> |
<%= link_to 'Back', signups_path %>
